<%layout('layouts/boilerplate') -%>
<h1 class="text-center">New campground</h1>
<div class="col-6 offset-3">
  <form class="needs-validation" action="/campgrounds" method="POST" novalidate>
    <div class="mb-3">
      <label for="title">Title:</label>
      <!-- name= 'campground[title]' will store whatever is in the braket under campground while sending post req -->
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label for="location">Location:</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="campground[location]"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input
        type="Number"
        class="form-control"
        placeholder="0.00"
        aria-label="price"
        name="campground[price]"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <label for="image">Image Url:</label>
      <input
        class="form-control"
        type="text"
        id="image"
        name="campground[image]"
        required
      />   <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
        required
      ></textarea>   <div class="valid-feedback">Looks good!</div>
    </div>
    <button class="btn btn-success">Add Campground</button>
  </form>
<a href="/campgrounds" class="btn btn-secondary mt-3" >Back to campgrounds</a>
</div>
